@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import '~antd/dist/antd.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.babus {
  font-family: 'Bebas Neue', cursive !important;
}

:root {
  --bg-primary: #05182c;
  --main-primary: #fffefe;
  --main-green: #02ef63;
  --main-yellow: #fccf0c;
  --main-blue: #07bcfc;
  --main-red: #fe6ea8;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-primary);
}

html {
  font-size: 62.5%;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 50%;
  }
}

body {
  color: var(--main-primary);
  background-color: #05182c !important;
  font-family: 'Poppins', sans-serif;
}

li {
  list-style: none;
}

.css-gnissy {
  background: -webkit-linear-gradient(
    right,
    red 20%,
    green 40%,
    blue 60%,
    cyan 80%
  );

  -webkit-background-clip: text;
  /*
    `color` seems to work too
    -webkit-text-fill-color: transparent;
  */
  color: transparent;
  background-size: 200% auto;
  animation: shine 2s linear infinite;
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}
